<footer class="py-5 px-lg-5">
  <div class="container">
    <div class="row gy-4 justify-content-between">
      <div class="col-auto">
        <p class="mb-0">
          Designed by <a href="#" class="fw-bold">Pawel Bartczak</a>
        </p>
      </div>
      <div class="col-auto">
        <div class="social-icons">
          <a href="https://instagram.com/occuli.vagi"><i class="lab la-instagram"></i></a>
          <a href="https://github.com/bartczak-pa/"><i class="lab la-github"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
