{% extends 'base.html' %}

{% load static i18n %}

{% block body %}
  <body data-bs-spy="scroll" data-bs-target=".navbar">
    <div id="content-wrapper">
      {% include 'portfolio/header.html' %}
      {% include 'portfolio/hobbies.html' with hobbies=hobbies_list %}
      {% include 'portfolio/projects.html' with projects=projects_list %}
      {% comment %}
      Blog section will be included here when completed.
      Tracked in issue #XX on project management tool.
      {% endcomment %}
      <!-- TODO: Include contact when completed -->
      {% include 'portfolio/footer.html' %}
    </div>
  </body>
{% endblock body %}
