<div class="modal fade"
     id="projectModal"
     tabindex="-1"
     aria-labelledby="projectModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content rounded-4 bg-base shadow-effect">
      <div class="modal-header">
        <h5 class="modal-title" id="projectModalLabel">{{ project.name }}</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="card-custom-image rounded-4 mb-4">
          <img id="modalProjectImage" class="rounded-4" src="" alt="Project Image" />
        </div>
        <h4 id="modalProjectName"></h4>
        <p>
          <strong>Description:</strong>
        </p>
        <!-- Add this line -->
        <p id="modalProjectDescription"></p>
        <p>
          <strong>Technologies:</strong>
        </p>
        <!-- Add this line -->
        <ul id="modalProjectTechnologies">
        </ul>
        <p id="modalProjectLinks"></p>
        <!-- Add this line -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-brand" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
